%h2 Top 100 crypto margin opportunities
%br
%div.market-tables.margin-table
  %table.table.table-striped.table-borderless.table-hover
    %thead.table-primary
      %tr.table-primary
        %th
        %th{colspan: 3} Base market
        %th
        %th{colspan: 3} Quote market
        %th{:scope => "col"} Percentage
      %tr.table-dark
        %th{:scope => "col"} #
        %th{:scope => "col"} Name
        %th{:scope => "col"} Base
        %th{:scope => "col"} Quote
        %th{:scope => "col-xs"}
        %th{:scope => "col"} Name
        %th{:scope => "col"} Base
        %th{:scope => "col"} Quote
        %th{:scope => "col"} %
    %tbody.text-small
      - @margins.each_with_index do |margin, i|
        %tr{id: "row#{margin.id}"}
          %td= i + 1
          %td= margin.base.market.name
          %td= margin.base.base.ticker + " - " + margin.base.base.name
          %td= margin.base.quote.ticker + " - " + margin.base.quote.name
          %td
            %i.fas.fa-arrow-right
          %td= margin.quote.market.name
          %td= margin.quote.base.ticker + " - " + margin.quote.base.name
          %td= margin.quote.quote.ticker + " - " + margin.quote.quote.name
          %td.rate= margin.margin.to_s + " %"

