= form_for @market, class: 'form-control' do |f|
  .form-group
    = f.label :name, class: "form-label"
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :slug, class: "form-label"
    = f.text_field :slug, class: "form-control"
  .mt-3
    = f.submit 'Submit', class: "btn btn-primary"
